<!-- TikZJax -->
<link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
<script src="https://tikzjax.com/v1/tikzjax.js"></script>

<!-- MathJax -->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
  };
</script>
<script
  id="MathJax-script"
  defer
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">

</script>


<style>
  .lecturebox {
    /* Layout: 'hbox' equivalent */
    display: inline-block; 
    
    /* Box Styling */
    background-color: white;
    border: 0.5pt solid black;
    padding: 2px 5px; /* top/bottom 2pt, left/right 5pt */
    
    /* The Shadow: {Offset X} {Offset Y} {Blur} {Spread} {Color} */
    /* LaTeX {2pt}{-2pt}{0pt}{black!90} */
    box-shadow: 2pt 2pt 0pt 0pt rgba(0, 0, 0, 0.9);

  }
</style>

<style>
  .sectionlecturebox {
    /* Layout: Changed to block and 100% width */
    display: block; 
    width: 100%;
    
    /* Box Geometry */
    box-sizing: border-box; /* Crucial: includes padding/border in the 100% width */
    background-color: white;
    border: 0.5pt solid black;
    padding: 2px 5px;
    
    /* Typography */
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10pt;
    margin-bottom: 10pt;
    
    /* The Shadow */
    box-shadow: 2pt 2pt 0pt 0pt rgba(0, 0, 0, 0.9);
  }
</style>

